.lottery-button {
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
  border: 2px solid #fff;
  color: #ffffff;
  padding: 10px 20px;
  text-shadow: 0px 0px 5px #ff0000; /* Red neon glow for example */
  cursor: pointer;
  margin: 10px;
  display: block;
  width: 21%;
  margin-left: auto;
  margin-right: auto;
}

.lottery-button:hover {
  text-shadow: 0px 0px 5px #1900ff; /* Red neon glow for example */
}

.Shroom-icon,
.ETH-icon {
  width: 30px !important; /* Adjust size as necessary */
  height: 30px !important; /* Adjust size as necessary */
  margin-right: 25px; /* Space between icon and label */
  margin-left: 25px;
}

@media (max-height: 1366px) {
  .lottery-button {
    width: 21.5rem;
  }

  .Shroom-icon,
  .ETH-icon {
    width: 20px; /* Adjust size as necessary */
    height: 20px; /* Adjust size as necessary */
    margin-right: 1px; /* Space between icon and label */
    margin-left: 1px;
  }
}
