.App {
  text-align: center;
}

.App-header {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: rgb(0, 0, 0);
  padding-right: 20px;
}

.MultipleLottery {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 37%,
    rgb(255, 145, 0) 100%
  );
}

.alert {
  margin: auto 37.5% 1% 37.5%;
}

button {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px 4px 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #ffa5007f;
  cursor: not-allowed;
}

h1 {
  color: #282c34;
  font-size: 2em;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.lottery-info {
  width: 25%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 10px 5px 5px black;
}

.lastWinner {
  width: 25%;
  margin: 0 auto;
  margin-top: 2%;
  border: 1px solid #000;
  box-shadow: 10px 5px 5px goldenrod;
  box-sizing: border-box;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.faq-collapse {
  width: 25%;
  margin: 0 auto;
}

.wallet-image {
  width: 10%;
  height: auto;
  margin-right: 5%;
}

.wallet-info {
  cursor: pointer;
  margin-left: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.25%;
  box-shadow: 5px 2.5px 5px black;
}

.bitcone-header {
  width: 2.5%;
  height: auto;
}

.footer {
  display: flex;
  width: 35%;
  height: auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .lottery-info,
  .lastWinner,
  .faq-collapse {
    width: 90%;
  }

  .wallet-image {
    width: 5%;
    height: auto;
  }

  .bitcone-header {
    width: 7%;
    height: auto;
  }

  .footer {
    width: 100%;
  }

  .wallet-info {
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-left: 65%;
    padding: 1%;
  }

  .wallet-image {
    width: 15%;
    height: auto;
    margin-right: 10%;
  }

  .alert {
    margin: auto 7% 12.5% 7%;
    font-size: 0.75rem;
  }
}
